.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1px 2px;
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1px;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #ccc;
}

.navbar-menu li a.active {
  color: #ccc;
  border-bottom: 2px solid #fff;
}